<section class="signup-form-container">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="signup-form-field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :bank_name %><br />
      <%= f.text_field :bank_name, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :bank_code %><br />
      <%= f.text_field :bank_code, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :account_number %><br />
      <%= f.text_field :account_number, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :currency %><br />
      <%= f.select :currency, options_for_select([['Nigerian Naira (NGN)', 'NGN'], ['Ghanaian Cedi (GHS)', 'GHS'], ['Kenyan Shilling (KES)', 'KES'], ['South African Rand (ZAR)', 'ZAR'], ['US Dollar (USD)', 'USD']], f.object.currency), {}, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
    </div>
    <div class="signup-form-field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "form-submit-btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</section>
