<section class="edit-payout-container">
  <h1 class="section-title">Edit Payout</h1>
  <p class="description">Confirm the payout details below and click "Process Payout" to initiate the transaction:</p>
  <table class="payout-details-table">
    <tr>
      <th>Reference</th>
      <td><%= @payout.reference %></td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><%= number_to_currency(@payout.amount, unit: @payout.currency) %></td>
    </tr>
    <tr>
      <th>Currency</th>
      <td><%= @payout.currency %></td>
    </tr>
    <tr>
      <th>Bank Code</th>
      <td><%= @payout.bank_code %></td>
    </tr>
    <tr>
      <th>Account Number</th>
      <td><%= @payout.account_number %></td>
    </tr>
    <tr>
      <th>Narration</th>
      <td><%= @payout.narration %></td>
    </tr>
    <tr>
      <th>Customer Name</th>
      <td><%= @payout.customer_name %></td>
    </tr>
    <tr>
      <th>Customer Email</th>
      <td><%= @payout.customer_email %></td>
    </tr>
  </table>
  <%= form_with model: @payout, url: payout_path(@payout), method: :patch do |form| %>
    <div class="submit-container">
      <%= form.submit 'Process Payout', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
